.color_block{
    height: 100px;
    width: 100px;
    display: inline-block;
}
.color_block:nth-child(1) {
    background-color: black;
}
.color_block:nth-child(2) {
    background-color: grey;
}
.color_block:nth-child(3) {
    background-color: yellow;
}
.color_block:nth-child(4) {
    background-color: green;
}
.color_block:nth-child(5) {
    background-color: red;
}
.color_block:nth-child(6) {
    background-color: blueviolet;
}
.color_block:nth-child(7) {
    background-color: blue;
}
.color_block:nth-child(8) {
    background-color: pink;
}
.color_block:nth-child(9) {
    background-color: greenyellow;
}
.color_block:nth-child(10) {
    background-color: lightcoral;
}